.title-text{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 5em;
    width:800px;
    text-align:center;
    text-transform: uppercase;
    line-height: .8em;
    border: 5px solid black;
    padding:.2em;
    background-color: rgb(240, 241, 242, 0.8);
}

.subtext{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: .5em;  
}
.home{
    height: 100vh;
}