<div class="skills">
 
    <h1 class="title">My Skills</h1>
    <div class="row skills-row">
      <div class="col-md-3 list-col">
        <ul>
          <li>JavaScript</li>
          <li>Java</li>
          <li>Ruby</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
      <div class="col-md-3 list-col">
        <ul>
          <li>Angular.io</li>
          <li>Angular.js</li>
          <li>React</li>
          <li>Preact</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="col-md-3 list-col">
        <ul>
          <li>D3.js</li>
          <li>Three.js</li>
          <li>TypeScript</li>
          <li>jQuery</li>
          <li>Redux</li>
        </ul>
      </div>
      <div class="col-md-3 list-col">
        <ul>
          <li>Spring Boot</li>
          <li>Node</li>
          <li>MongoDB</li>
          <li>Oracle</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
    

</div>
